<header ng-include="'js/app/header.html'"></header>
<main role="main" class="container"> 

    <div class="col-md-9 ml-sm-auto col-lg-12 px-4 mt-5 mb-3"> 
        <div class="d-flex mt-5">
            <div class="col-lg-11 mt-5">
                <h1 class="h2" >Usuarios</h1>
                <p>Edita usuario</p>
            </div>
            <div class="col mt-5 mt-5">
                <div class="btn-group" role="group" aria-label="Second group"  >
                    <a href="/trolleyes-client/public_html/usuario/view/{{id}}" class="btn btn-secondary btn-md" >Ver</a>
                    <a href="/trolleyes-client/public_html/usuario/plist" class="btn btn-secondary btn-md" >Listado</a>
                </div>
            </div>
        </div>
    </div> 

    <div class="row">  

        <div class="col-sm-6 mt-5 mb-5 ml-3" >
            <!-- FORM ============ -->

            <form name="userForm" ng-show="!edited">
                <!-- ID-->
                <div class="form-group">
                    <label>Id</label>
                    <input type="text" name="id"  readonly="readonly" class="form-control" ng-model="id">
                </div>
                <!-- DNI-->
                <div class="form-group" ng-class="{ 'has-error' : userForm.dni.$invalid}">
                    <label>DNI</label>
                    <input type="text" class="form-control"  id="dni" name="dni" ng-model="dni"  ng-pattern="/^[0-9]{8}[TRWAGMYFPDXBNJZSQVHLCKET]$/" ng-required="true">
                    <p ng-show="userForm.dni.$error.pattern" class="alert alert-danger" role="alert">El dni no es valido</p>
                    <p ng-show="userForm.dni.$invalid" class="text-danger" >El dni es necesario</p>
                </div>
                <!-- NOMBRE -->
                <div class="form-group" >
                    <label>Nombre</label>
                    <input type="text" name="nombre" class="form-control" ng-model="nombre" ng-required="true">
                    <p ng-show="userForm.nombre.$invalid" class="text-danger">El nombre es necesario</p>
                </div>

                <!-- APE1 -->
                <div class="form-group" ng-class="{ 'has-error' : userForm.ape1.$invalid}">
                    <label>Primer Apellido</label>
                    <input type="text" name="ape1"  class="form-control" ng-model="ape1" ng-required="true">
                    <p ng-show="userForm.ape1.$invalid" class="text-danger">Primer apellido es necesario</p>
                </div>
                <!-- APE2 -->
                <div class="form-group" ng-class="{ 'has-error' : userForm.ape2.$invalid}">
                    <label>Segundo Apellido</label>
                    <input type="text" name="ape2"  class="form-control" ng-model="ape2" ng-required="true">
                    <p ng-show="userForm.ape2.$invalid" class="text-danger">Segundo apellido es necesario</p>
                </div>

                <!-- USUARIO -->
                <div class="form-group" ng-class="{ 'has-error' : userForm.login.$invalid}">
                    <label>Nombre de usuario</label>
                    <input type="text" name="login" class="form-control" ng-model="login" ng-minlength="3" ng-maxlength="8" ng-required="true">
                    <p ng-show="userForm.login.$error.minlength" class="text-danger">El nombre de usuario es corto</p>
                    <p ng-show="userForm.login.$error.maxlength" class="text-danger">El nombre de usuario es demasiado largo.</p>
                </div>

                <!-- CONTRASEÑA -->
                <div class="form-group" ng-class="{ 'has-error' : userForm.pass.$invalid}">
                    <label>Contraseña</label>
                    <input type="text" name="pass"  class="form-control" ng-model="pass" ng-minlength="3" ng-maxlength="8" >
                    <p ng-show="userForm.pass.$error.minlength" class="text-danger">La contraseña es corta</p>
                    <p ng-show="userForm.pass.$error.maxlength" class="text-danger">La contraseña es demasiado larga.</p>
                </div>
                <!-- TIPOUSUARIO -->
                <div class="form-group" ng-class="{ 'has-error' : userForm.id_tipoUsuario.$invalid}">
                    <label>Tipo Usuario</label>
                    <input type="text" name="id_tipoUsuario"  class="form-control" ng-model="id_tipoUsuario" ng-required="true" >
                    
                    <p ng-show="userForm.id_tipoUsuario.$invalid" class="text-danger">Tipo ususario es necesario. Elige 1:Administrador o 2:usuario</p>
                </div>

                <!-- EMAIL -->
                <!--                <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                                    <label>Email</label>
                                    <input type="text" name="email"  placeholder={{ajaxData.nombre}} class="form-control" ng-model="user.email">
                                    <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
                                </div>-->                
                
            </form>        
        </div>
        <div class="col  mt-5" ng-show="!edited">
            <div class="row row ml-5" >
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <button  class="btn btn-secondary" ng-click="resetForm()" >Reset</button>
                        <a href="/trolleyes-client/public_html/usuario/delete/{{id}}" class="btn btn-secondary">Eliminar</a>
                    </div>
                    <div class="btn-group mr-2" role="group" aria-label="Second group"> 
                       <button type="button" ng-click="updateForm()" class="btn btn-warning btn-lg" ng-disabled="userForm.$invalid">Enviar</button> 
                    </div>


                </div>
            </div>
        </div>
        <div class="col-md-12 ml-sm-auto col-lg-12 px-4  mt-5 mb-5 ml-3" ng-show="edited">
            <h1>Ha editado al usuario {{nombre}} {{ape1}} </h1>
            <div class="d-flex align-self-center align-items-center ml-3">
                <a class="btn btn-warning" href="/trolleyes-client/public_html/usuario/plist"> Volver al Listado</a>
            </div>
        </div> 
    </div>
</main>

<footer class="footer" ng-include="'js/app/footer.html'"></footer>