
<header-component></header-component>
<main role="main" class="container"> 

    <div class="col-lg-12 px-4 mt-5 mb-3"> 
        <div class="d-flex mt-5">
            <div class="col-lg-11 mt-5">
                <h1 class="h2  mt-5" ><i class="fa fa-user" aria-hidden="true"></i> Usuarios</h1>
                <p>Edita usuario</p>
            </div>
            <div class="col mt-5 ">
                <div class="btn-group  mt-5" role="group" aria-label="Second group"  >
                    <a href="/trolleyes-client/public_html/usuario/plist" class="btn btn-secondary btn-md" >Listado de usuarios</a>
                </div>
            </div>
        </div>
    </div> 

    <div class="row">  

        <div class="col-lg-6 mt-5 ml-3 " >
            <!-- FORM ============ -->

            <form name="userForm" ng-show="!edited">
                <!-- ID-->
                <div class="form-group">
                    <label>Id</label>
                    <input type="text" name="id"  readonly="readonly" class="form-control" ng-model="id">
                </div>
                <!-- DNI-->
                <div class="form-group">
                    <label>DNI</label>
                    <input type="text" class="form-control"  id="dni" name="dni" ng-model="ajaxData.dni" readonly="readonly" >

                </div>
                <!-- NOMBRE -->
                <div class="form-group" >
                    <label>Nombre</label>
                    <input type="text" name="nombre" class="form-control" ng-model="ajaxData.nombre" readonly="readonly" > 
                </div>

                <!-- APE1 -->
                <div class="form-group">
                    <label>Primer Apellido</label>
                    <input type="text" name="ape1"  class="form-control" ng-model="ajaxData.ape1" readonly="readonly">
                </div>
                <!-- APE2 -->
                <div class="form-group">
                    <label>Segundo Apellido</label>
                    <input type="text" name="ape2"  class="form-control" ng-model="ajaxData.ape2" readonly="readonly">
                    <p ng-show="userForm.ape2.$invalid" class="text-danger">Segundo apellido es necesario</p>
                </div>

                <!-- USUARIO -->
                <div class="form-group">
                    <label>Nombre de usuario</label>
                    <input type="text" name="login" class="form-control" ng-model="ajaxData.login" readonly="readonly">

                </div>

                <!-- TIPOUSUARIO -->
                <div class="form-group">
                    <label>Tipo de usuario</label>
                    <input type="text" name="tipousuario"  class="form-control" ng-model="tipousuario" readonly="readonly">

                </div>

            </form>        
        </div>
        <div class="col mb-5  mt-2">
            <div class="ml-3" >
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <a href="/trolleyes-client/public_html/usuario/delete/{{ajaxData.id}}" class="btn btn-secondary" role="button">Eliminar</a>
                    </div>
                    <div class="btn-group mr-2" role="group" aria-label="Second group"> 
                        <a href="/trolleyes-client/public_html/usuario/edit/{{ajaxData.id}}" class="btn btn-secondary" role="button">Editar</a>
                    </div>
                </div>
                

            </div>
            <div  class="ml-3 mt-5 mb-5">
                <h1 class="h3 h3 mb-3" >Facturas</h1>
                <button class="btn btn-warning " ng-click="mostrarfacturas()" ng-show="!mostrarfactura"><i class="fa fa-plus-square  ml-2" aria-hidden="true"></i> Mostrar</button>
                <button class="btn btn-secondary " ng-click="ocultarfacturas()" ng-show="mostrarfactura"><i class="fa fa-minus-square ml-2" aria-hidden="true"></i> Ocultar</button>
                <div class="table-responsive mb-5 " ng-show="mostrarfactura">
                    <table class="table table-striped table-sm mt-5 align-self-center mb-5" >
                        <tr>
                            <th>
                                <div class="d-flex">
                                    <div class=" p-2 mb-md-0">Id</div>
                                </div>
                            </th>
                            <th>
                                <div class="d-flex">
                                    <div class=" p-2 align-self-center">Producto</div>
                                </div>
                            </th>
                            <th>
                                <div class="d-flex">
                                    <div class=" p-2 align-self-center">PDF</div>
                                </div>
                            </th>
                        </tr>
                        <tr ng-repeat="fila in ajaxDataFactura">
                            <td class="text-center font-weight-bold">{{fila.id}}</td>
                            <td class="text-center">{{fila.fecha}}</td>
                            <td class="text-center">
                            <a class="btn btn-warning ml-3" ng-click="descargarPDF(fila.id)"><i class="fas fa-file-pdf"></i></a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="footer" ng-include="'js/app/footer.html'"></footer>