<header-component></header-component>
<main role="main" class="container"> 

    <div class="col-md-12 ml-sm-auto col-lg-12 px-4  mt-5 mb-5 ml-5"> 
        <div class="d-flex">
            <div class="col-lg-11  mt-5">
                <h1 class="h2" >Login</h1>
                <p>Introduce tu usuario y contraseña</p>
            </div>
        </div>
    </div> 

    <div class="row">  
        <div class="col-sm-6 mt-5 mb-5 ml-5"  >
            <form name="userForm" >
                <!-- User-->
                <div class="form-group" ng-class="{ 'has-error' : userForm.login.$invalid && !userForm.login.$pristine}">
                    <label>Usuario</label>
                    <input type="text" name="login" class="form-control" ng-model="login">
                    <p ng-show="userForm.login.$invalid && userForm.login.$pristine" class="text-danger">El usuario es necesario</p>
                </div>

                <!-- pass -->
                <div class="form-group" ng-class="{ 'has-error' : userForm.pass.$invalid && !userForm.pass.$pristine}">
                    <label>Contraseña</label>
                    <input type="password" name="pass" class="form-control" ng-model="pass" ng-required="true">
                    <p ng-show="userForm.pass.$invalid && !userForm.pass.$pristine" class="text-danger">La contraseña es necesaria</p>
                </div>
                <button type="button" ng-click="loginForm()" class="btn btn-warning btn-lg" ng-disabled="userForm.$invalid">Login</button>
            </form>        
        </div>
        <div class="col" ng-show="errorlogin">
            <div class="jumbotron alert-warning">
                
                    <h1 class="text-center text-danger">Usuario y contraseña no válidos.</h1>
                
            </div>
        </div>
        <div class="col" ng-show="logeado">
            <div class="jumbotron alert-warning">
                
                    <h1 class="text-center text-success">Te has logueado {{userlogeado}}!</h1>
                
            </div>
        </div>
    </div>

</main>

<footer class="footer" ng-include="'js/app/footer.html'"></footer>