<header-component></header-component>
<div class="container-fluid">
    <div class="row">
        <main role="main" class="col-lg-12 px-4 mt-5 mb-3">
            <div class="d-flex justify-content-between flex-wrap align-items-center pt-3 pb-2 mt-5 mb-3 border-bottom">
                <h1 class="h2  ml-3 mb-3" ><i class="fa fa-shopping-basket" aria-hidden="true"></i> Productos</h1>
            </div>
            <div class="row port-page">
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe"ng-repeat="fila in ajaxDataProductos">
                    <img src="http://localhost:8081/imagenes/{{fila.foto}}" class="img-responsive center-block port-image" alt=""/>
                    <div class="row ml-3 mt-2">
                        <h2 class="album__title">{{fila.desc}}</h2>
                        <button type="button" class="btn btn-light ml-3">
                            Existencias <span class="badge badge-secondary">{{fila.existencias}}</span>
                        </button>
                    </div>
                    <div class="btn-group-col m">
                        <button type="button" class="btn btn-light" ng-click="add(fila.id)">
                            Add cart <i class="fa fa-plus-square  ml-2" aria-hidden="true"  aria-pressed="true"></i>
                        </button>
                        <!--                <button type="button" class="btn btn-light">
                                            <i class="fa fa-minus-square" aria-hidden="true"></i>
                                        </button>-->
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </main>
    </div>   
</div>
<footer class="footer" ng-include="'js/app/footer.html'"></footer>