<header-component></header-component>
<div class="container-fluid">
    <div class="row">
        <main role="main" class="col-lg-12 px-4 mt-5 mb-3">
            <div class="d-flex justify-content-between flex-wrap align-items-center pt-3 pb-2 mt-5 mb-3 border-bottom">
                <h1 class="h2  ml-3 mb-3" >Carrito</h1>
                <div class="col-lg-12 " ng-show="!comprado">
                    <h1>¿Desea comprar los productos del carrito?</h1>
                    <div class="d-flex align-self-center align-items-center" style="margin-right: 6%">
                        <button class="btn btn-warning btn-lg" ng-click="buy()">si</button>
                        <a class="btn btn-secondary btn-lg ml-3" href="/trolleyes-client/public_html/producto/tienda">No (seguir comprando)</a>
                    </div>

                </div>
                <div class="col-lg-12 " ng-show="comprado">
                    <h1>Ha comprado los siguientes productos</h1>
                    <div class="d-flex align-self-center align-items-center" style="margin-right: 6%">
                        <a class="btn btn-warning btn-lg ml-3" ng-click="empty()" href="/trolleyes-client/public_html/producto/tienda">Volver a la tienda</a>
                    </div>

                </div>

            </div>
            <div class="col-12 port-page ml-3" ng-show="comprado">
                <div class="d-flex justify-content-between flex-wrap align-items-center border-bottom col-lg-6"ng-repeat="fila in ajaxData">
                    <img src="img/boximage0.jpg" class="img-responsive center-block port-image col-3 mt-2 mb-2" alt=""/>
                    <div class=" col-2ml-3 mt-2">
                        <h2 class="album__title">{{fila.obj_producto.desc}}</h2>
                    </div>
                    <div class="btn-group-col col2 ">
                        <span class="badge badge-secondary">{{fila.cantidad}}</span>
                    </div>
                </div>
            </div>
        </main>
    </div>   
</div>
<footer class="footer" ng-include="'js/app/footer.html'"></footer>